.item-card {
  width: 250px;
  background-color: white;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item-card img {
  height: 160px;
  object-fit: contain;
}

.item-card h3 {
  font-size: 18px;
  margin: 10px 0;
  color: rgb(17, 17, 17);
}

.item-card p {
  font-size: 16px;
  font-weight: 700;
  color: rgb(17, 17, 17);   /* <-- importante */
  margin: 8px 0;
}

.btn {
  margin-top: auto;
  text-decoration: none;
  background-color: rgb(37, 99, 235);
  color: white;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
}
