.item-card {
  width: 250px;
  background-color: white;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.item-card img {
  height: 160px;
  object-fit: contain;
}

.btn {
  margin-top: auto;
  text-decoration: none;
  background-color: #2563eb;
  color: white;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
}
