/* NavBar.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.logo a {
  text-decoration: none;
  color: rgb(17, 17, 17);
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: rgb(17, 17, 17);
  font-weight: 500;
}

.nav-links a:hover {
  color: rgb(255, 107, 107);
  transition: 0.3s;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
