body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f9fafb;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.error {
  padding: 40px;
  text-align: center;
}
@media (max-width: 768px) {
  .detail {
    flex-direction: column;
  }

  .navbar {
    padding: 0 16px;
  }
}
